.git
.gitignore
.vs
.vscode
.idea
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/.env
**/.env.*
cdk.out/
deployments/
docs/
tests/
*.drawio
*.log
*.tmp
