BIZFLOW_LOCAL_DEMO=true
AWS_REGION=ap-northeast-1
BIZFLOW_AGENT_RUNTIME_ARN=
BIZFLOW_AGENT_ENDPOINT_NAME=PROD
BIZFLOW_READ_TOOLS_FUNCTION_NAME=
BIZFLOW_WRITE_TOOLS_FUNCTION_NAME=
BIZFLOW_APPROVAL_FUNCTION_NAME=
BIZFLOW_DATA_START_DATE=2026-07-09
BIZFLOW_DATA_END_DATE=2026-07-13
BIZFLOW_ANALYSIS_AS_OF=2026-07-14
